name: "Build"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    name: Build & Release
    runs-on: ubuntu-latest
    
    steps:
      # 1. Checkout (Actualizado a v4)
      - name: Checkout Repository
        uses: actions/checkout@v4

      # 2. Setup Java con Caché de Gradle
      - name: Set Up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'

      # 3. Setup Flutter con Caché
      - name: Set Up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.3'
          channel: 'stable'
          cache: true 

      # 4. Install Dependencies
      - name: Install Dependencies
        run: flutter pub get

      # 5. Create .env file
      - name: Create .env file
        run: echo "${{ secrets.ENV_FILE }}" > .env
      
      # 6. Build APK y AAB
      - name: Build APK
        run: flutter build apk --release

      - name: Build App Bundle
        run: flutter build appbundle

      # 7. Upload Artifacts (Solo subir, no release todavía)
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Build-Output
          path: |
            build/app/outputs/flutter-apk/app-release.apk
            build/app/outputs/bundle/release/app-release.aab

      # --- LÓGICA DE VERSIONADO ---
      - name: Extract version from pubspec.yaml
        id: extract_version
        run: |
          version=$(grep '^version: ' pubspec.yaml | cut -d ' ' -f 2 | tr -d '\r')
          echo "VERSION=$version" >> $GITHUB_ENV

      # --- CREACIÓN DE RELEASE (Solo en Push a Main) ---
      - name: Create Release
        if: github.event_name == 'push'
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/app/outputs/flutter-apk/app-release.apk,build/app/outputs/bundle/release/app-release.aab"
          tag: v${{ env.VERSION }}-build-${{ github.run_number }}
          token: ${{ secrets.GITHUB_TOKEN }}
          allowUpdates: true # Permite actualizar si el tag ya existe
